# Basic Info
basic:
- paper_id
- problem_id
- image_id
- ocr_id
- total_score
- score

# Lexical Features
lexical:
- num_word_len_12
- num_word_len_8_9
- num_word_len_4_5
- num_word_len_6_7
- num_word_len_10_11
- mean_word_length
- avg_pronoun
- avg_noun
- avg_modal
- avg_verb
- avg_adverb
- avg_comma
- avg_conjunction
- avg_preposition
- avg_adjective
- variance_word_length
- min_word_length
- max_word_length
- median_word_length
- std_word_length
- flesch_kincaid_grade_level
- num_preposition
- num_noun
- num_pronoun
- num_adverb
- noun_PRP_ratio
- num_modal
- num_conjunction
- num_adjective
- num_comma
- num_verb
- num_VBG
- word_frequency

# Grammar Error Features
grammar:
- num_error_word
- numLanguageTool
# - numSyntaxCheck
- definite_article_frequenct_error
- preposition_frequency_error

# Sentence Features
sentence:
- total_num_clause
- total_len_clause
- mean_len_clause
- mean_sentence_length
- mean_num_clause
- variance_sentence_length
- num_sentence_len_5_9
- num_sentence_len_10_14
- num_sentence_len_15_19
- num_sentence_len_20_24
- num_sentence_len_25
- sentence_num
- avg_tree_height
- avg_leaf_depth
- min_sentence_length
- median_sentence_length
- max_sentence_length
- std_sentence_length

# Structure Features
structure:
- sqrt_sqrt_essay_length_delstops
- essay_total_character
- word_dictionary_size_delstops
- dictionary_length_nonstops_ratio
- word_dictionary_nonstops_ratio
- essay_length_hasstops
- word_dictionary_size_hasstops
- dictionary_length_hasstops_ratio
- essay_length_delstops
- essay_length_nonstops_ratio
- because_num
- because_prop
- causal_connectives_num_high
- causal_connectives_num_low
- causal_connectives_prop_high
- causal_connectives_prop_low
- all_connectives_num
- contrastive_connectives_num_high
- contrastive_connectives_num_low
- contrastive_connectives_prop_high
- contrastive_connectives_prop_low
- addictive_connectives_num_high
- addictive_connectives_num_low
- addictive_connectives_prop_high
- addictive_connectives_prop_low
- temporal_connectives_num_high
- temporal_connectives_num_low
- temporal_connectives_prop_high
- temporal_connectives_prop_low
- paragraph_number
- all_connectives_prop

# Content Features
content:
- text_coherence
- paragraph_lsa
- lsa_global
- lsa_local
- coreference_cohesion_noun_local
- coreference_cohesion_argument_local
- coreference_cohesion_stem_local
- coreference_cohesion_noun_global
- coreference_cohesion_argument_global
- coreference_cohesion_stem_global
- coreference_noun_local
- coreference_argument_local
- coreference_stem_local
- coreference_noun_global
- coreference_argument_global
- coreference_stem_global